---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import type { minutesInDay } from "date-fns/constants";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My Resumé</div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      Believe it or not, I've been up to quite a bit over the years. Here's a
      more detailed account of my professional journey than what you might find
      <a
        class="underline"
        href="https://www.linkedin.com/in/michelebonazza/"
        target="_blank">on LinkedIn</a
      >.
    </p>
    <p class="my-4">
      For some reason, PDFs are still all the rage for resumés, so here's where
      you can get mine.
    </p>
    <a class="btn" href="/bonazza-cv.pdf" download>Download PDF</a>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container pb-10">
    <TimeLineElement
      title="Ph.D. in Information Engineering"
      subtitle="2011 to 2015, Università degli Studi di Padova, Italy"
    />
    <TimeLineElement
      title="Master's Degree in Information Engineering"
      subtitle="2007 to 2009, Università degli Studi di Padova, Italy"
    />
    <TimeLineElement
      title="Bachelor's Degree in Information Engineering"
      subtitle="2002 to 2007, Università degli Studi di Padova, Italy"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container pb-10">
    <TimeLineElement
      id="current"
      title="Principal Software Engineer - Freelance"
      subtitle="Since January 2024 - Remote and in Berlin, Germany"
      skills={[
        "React Native",
        "TypeScript",
        "JavaScript",
        "Playwright",
        "GitHub Actions",
        "ESlint",
      ]}
    >
      Cannot say much as I've signed an NDA, but I'm working on a TV app project
      in React Native. In this role, I'm training engineers new to the
      technology, reviewing PRs, organizing pair programming sessions and
      workshops, and sharing my knowledge of the React Native world. I also
      write code, primarily to improve the Developer Experience and to help
      build better processes, with a focus on performance and testing.
    </TimeLineElement>
    <TimeLineElement
      id="justwatch"
      title="Senior Frontend Developer at JustWatch"
      subtitle="From February 2021 to March 2024 - Remote and in Berlin, Germany"
      skills={[
        "React Native",
        "React",
        "TypeScript",
        "JavaScript",
        "Java",
        "Swift",
        "ObjectiveC",
        "GraphQL",
        "Cypress",
        "Figma",
        "Storybook",
        "Team Leading",
        "Product Ownership",
      ]}
    >
      <p>
        <a class="underline" href="https://justwatch.com" target="_blank"
          >JustWatch</a
        > is one of the largest streaming guides in the world, helping millions of
        users each month find what to watch and where. I rewrote their mobile apps
        from scratch in React Native and led the mobile team for about a year.
      </p>
      <p class="mt-2">
        To support the new app, I built a new Design System and Component
        Library using Storybook. An in-depth analysis of how these were
        developed from a designer's perspective is available on <a
          class="underline"
          href="https://clarazorzoli.com/justwatch"
          target="_blank">Clara's website</a
        >, and you can watch <a
          class="underline"
          href="https://www.youtube.com/watch?v=Rm5lAwuGF_8"
          target="_blank"
          >my talk at the React Native Berlin Meetup about this topic</a
        >. I also created an interesting little React + Node.js based tool to
        proxy <a class="underline" href="https://snowplow.io/" target="_blank"
          >Snowplow</a
        > events using Websockets so that they can be inspected from a Desktop browser,
        even when sent from mobile devices.
      </p>
      <p class="mt-2">
        Before that, I revamped their TV apps, also using React Native,
        migrating the codebase to TypeScript and enhancing performance. This
        upgrade made it possible for the apps to run on lower-end Android TV
        sticks, as well as on Samsung and LG TVs. I developed a "Play on TV"
        feature that connects the TV Apps with the older Vue-based mobile apps.
        This feature was later ported to the new apps as well, and uses either
        Google Cast or the SSDP protocol (for Roku devices), with a fallback to
        GraphQL Subscription-based Websockets for broader compatibility.
      </p>
    </TimeLineElement>
    <TimeLineElement
      id="urbi"
      title="Senior FullStack Developer at URBI"
      subtitle="From March 2017 to February 2021 - Berlin, Germany"
      skills={[
        "React Native",
        "React",
        "Node.js",
        "TypeScript",
        "JavaScript",
        "Java",
        "Kotlin",
        "Spring",
        "Spring Boot",
        "Redis",
        "Postgres",
        "",
      ]}
    >
      <a class="underline" href="https://en.urbi.co" target="_blank">URBI</a>
      is a shared mobility aggregator that guides its users through the maze of car,
      scooter, and bike-sharing offerings in their cities. I initially worked on
      the Spring Boot-based backend and later transitioned to rewriting their mobile
      apps from scratch in React Native. Additionally, I developed a B2B dashboard
      using React for the frontend and Spring Boot + Kotlin for the backend. I also
      created a React Native prototype for a digital wallet app designed to manage
      driving license validation on the Ethereum blockchain.
    </TimeLineElement>
    <TimeLineElement
      id="italy"
      title="FullStack Developer - Freelance"
      subtitle="From July 2016 to March 2017 - Remote and in Veneto, Italy"
      skills={[
        "React",
        "JavaScript",
        "Python",
        "Flask",
        "SQLAlchemy",
        "Socket.IO",
        "Celery",
        "Postgres",
        "SCADA",
      ]}
    >
      I developed a full-stack application using React and Flask to interconnect
      multiple monitoring systems—such as sensors, cameras, variable message
      signs, traffic lights, and weather stations—into a single administrative
      interface. Due to an NDA, I cannot disclose the name of the company for
      which I completed this project. The application was used, and possibly
      still is, to manage a section of Italy's highway infrastructure.
    </TimeLineElement>
    <TimeLineElement
      id="sketchtogether"
      title="Cofounder at SketchTogether"
      subtitle="From January 2014 to December 2023 - Remote and in Orange County, California"
      skills={[
        "Java",
        "JavaScript",
        "Python",
        "Bash",
        "Lua",
        "Vertx",
        "AngularJS",
        "Protocol Buffers",
        "Redis",
        "Postgres",
        "Nginx",
        "Sysadmin",
        "Devops",
      ]}
    >
      <p>
        SketchTogether was a real-time collaborative whiteboard designed to help
        teams quickly jot down ideas, with a focus on minimizing mode-switching
        as much as possible. Users could circle parts of their sketches to
        quickly select elements, move them around, clone, or edit them.
      </p>
      <p class="mt-2">
        Despite a loyal user base that allowed us to keep SketchTogether afloat
        after shifting our focus away from it in 2017, we decided to sunset the
        product in December 2023. This decision was due to the availability of
        more modern apps and our lack of resources to invest in the project.
      </p>
      <p class="mt-2">
        I developed the Java backend application, managed the infrastructure on
        Google Cloud, and designed the web app, which was implemented in
        AngularJS by the other co-founder. I also contributed to the web
        development later on and added some Python microservices to support new
        features.
      </p>
    </TimeLineElement>
    <TimeLineElement
      id="phd"
      title="PhD Student at Università di Padova"
      subtitle="From January 2011 to April 2015 - Padova, Italy (and Irvine, California)"
      skills={["Java", "Python", "Bash", "Android", "Sysadmin"]}
    >
      <p>
        I initially worked on setting up a 16-node cluster based on high-end
        desktops connected by 10G-Ethernet, developing an administrative tool
        based on Gluster. I met with several scientists from the Engineering,
        Physics, and Astrophysics fields and helped them learn how to run their
        computational heavy tasks on this new cluster.
      </p>
      <p class="mt-2">
        Since the project was struggling to take off, I completely changed the
        subject of my thesis to developing an Android tablets-based solution for
        dermatologists to organize their skin lesions mapping sessions. Together
        with dermatologists from the Univeristy of Padova, we came up with a
        novel streamlined process to speed up and standardize their current
        practice, now supported by a new Android app I built with 3 other grad
        students.
      </p>
      <p class="mt-2">
        During my PhD, I spent 4 months at University of California, Irvine,
        where I worked on an Android prototype for <a
          class="underline"
          href="http://sdcl.ics.uci.edu/research/past-projects/calico/"
          >Calico</a
        >, a sketch-based design environment that we later on took as
        theoretical basis for SketchTogether, the startup I co-founded with the
        PhD student that was leading the project.
      </p>
    </TimeLineElement>
    <TimeLineElement
      id="reply"
      title="Security Consultant at Reply"
      subtitle="From November 2009 to December 2010 - Bergamo, Italy"
      skills={[
        "Sysadmin",
        "Bash",
        "Python",
        "Java",
        "JavaScript",
        "Postgres",
        "MySQL",
      ]}
    >
      I worked as a Sysadmin with development benefits at UBI, an Italian
      banking and financial group. There, I developed monitoring tools to ensure
      the smooth operation of their IBM-based Identity and Access Management
      infrastructure. Additionally, I created a Vaadin-based web application to
      manage the setup of internal web applications.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>Java</li>
    <li>Kotlin</li>
    <li>Bash</li>
    <li>Some Lua</li>
    <li>Some Swift</li>
    <li>Some ObjectiveC</li>
    <li>React Native</li>
    <li>React</li>
    <li>Some Svelte</li>
    <li>Spring</li>
    <li>Spring Boot</li>
    <li>UNIX Sysadmin</li>
    <li>Some Devops</li>
    <li>Redis</li>
    <li>Postgres</li>
    <li>MySQL</li>
    <li>&hellip;and more</li>
  </ul>
</BaseLayout>
