---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Impressum" sideBarActiveItemID="impressum">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold mb-12">Impressum</div>
  </div>

  <div>
    <div class="text-xl w-full font-bold my-4">Angaben gemäß § 5 TMG</div>
  </div>
  <div class="mb-10">
    <p>Dr. Michele Bonazza</p>
    <p>Winckelmannstraße 26</p>
    <p>12487 Berlin</p>
  </div>

  <div>
    <div class="text-xl w-full font-bold my-4">Kontakt</div>
  </div>
  <div class="mb-10">
    <p>michele.bonazza&#64;proton.me</p>
  </div>

  <div>
    <div class="text-xl w-full font-bold my-4">
      Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV
    </div>
  </div>
  <div class="mb-10">
    <p>Michele Bonazza</p>
  </div>

  <div>
    <div class="text-xl w-full font-bold my-4">
      Gesetzliche Berufsbezeichnung
    </div>
  </div>
  <div class="mb-10">Selbstständige Softwareentwicklung gewerblich</div>

  <div>
    <div class="text-xl w-full font-bold my-4">UStID-Nr</div>

    <div class="mb-10">DE364343506</div>
  </div>
</BaseLayout>
