---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Impressum" sideBarActiveItemID="impressum">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Impressum</div>
  </div>

  <div class="mb-10 text-justify">Bla bla bla</div>
</BaseLayout>
